.flair {
    background-image: url(https://southparkphone.github.io/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.flair-South-Park-Stickers-01 {
    width: 80px;
    height: 80px;
    background-position: -5px -5px;
}

.flair-South-Park-Stickers-02 {
    width: 80px;
    height: 80px;
    background-position: -5px -95px;
}

.flair-South-Park-Stickers-03 {
    width: 80px;
    height: 80px;
    background-position: -5px -185px;
}

.flair-South-Park-Stickers-04 {
    width: 80px;
    height: 80px;
    background-position: -5px -275px;
}

.flair-South-Park-Stickers-05 {
    width: 80px;
    height: 80px;
    background-position: -5px -365px;
}

.flair-South-Park-Stickers-06 {
    width: 80px;
    height: 80px;
    background-position: -5px -455px;
}

.flair-South-Park-Stickers-07 {
    width: 80px;
    height: 80px;
    background-position: -5px -545px;
}

.flair-South-Park-Stickers-08 {
    width: 80px;
    height: 80px;
    background-position: -5px -635px;
}

.flair-South-Park-Stickers-09 {
    width: 80px;
    height: 80px;
    background-position: -5px -725px;
}

.flair-South-Park-Stickers-10 {
    width: 80px;
    height: 80px;
    background-position: -5px -815px;
}

.flair-South-Park-Stickers-11 {
    width: 80px;
    height: 80px;
    background-position: -5px -905px;
}

.flair-South-Park-Stickers-12 {
    width: 80px;
    height: 80px;
    background-position: -5px -995px;
}

.flair-South-Park-Stickers-13 {
    width: 80px;
    height: 80px;
    background-position: -5px -1085px;
}

.flair-South-Park-Stickers-14 {
    width: 80px;
    height: 80px;
    background-position: -5px -1175px;
}

.flair-South-Park-Stickers-15 {
    width: 80px;
    height: 80px;
    background-position: -5px -1265px;
}

.flair-South-Park-Stickers-16 {
    width: 80px;
    height: 80px;
    background-position: -5px -1355px;
}

.flair-South-Park-Stickers-18 {
    width: 80px;
    height: 80px;
    background-position: -5px -1445px;
}

.flair-South-Park-Stickers-19 {
    width: 80px;
    height: 80px;
    background-position: -5px -1535px;
}

.flair-South-Park-Stickers-20 {
    width: 80px;
    height: 80px;
    background-position: -5px -1625px;
}

.flair-South-Park-01 {
    width: 80px;
    height: 80px;
    background-position: -5px -1715px;
}

.flair-South-Park-02 {
    width: 80px;
    height: 80px;
    background-position: -5px -1805px;
}

.flair-South-Park-03 {
    width: 80px;
    height: 80px;
    background-position: -5px -1895px;
}

.flair-South-Park-04 {
    width: 80px;
    height: 80px;
    background-position: -5px -1985px;
}

.flair-South-Park-05 {
    width: 80px;
    height: 80px;
    background-position: -5px -2075px;
}

.flair-South-Park-06 {
    width: 80px;
    height: 80px;
    background-position: -5px -2165px;
}

.flair-South-Park-07 {
    width: 80px;
    height: 80px;
    background-position: -5px -2255px;
}

.flair-South-Park-08 {
    width: 80px;
    height: 80px;
    background-position: -5px -2345px;
}

.flair-South-Park-09 {
    width: 80px;
    height: 80px;
    background-position: -5px -2435px;
}

.flair-South-Park-10 {
    width: 80px;
    height: 80px;
    background-position: -5px -2525px;
}

.flair-South-Park-11 {
    width: 80px;
    height: 80px;
    background-position: -5px -2615px;
}

.flair-South-Park-12 {
    width: 80px;
    height: 80px;
    background-position: -5px -2705px;
}

.flair-South-Park-13 {
    width: 80px;
    height: 80px;
    background-position: -5px -2795px;
}

.flair-South-Park-14 {
    width: 80px;
    height: 80px;
    background-position: -5px -2885px;
}

.flair-South-Park-15 {
    width: 80px;
    height: 80px;
    background-position: -5px -2975px;
}

.flair-South-Park-16 {
    width: 80px;
    height: 80px;
    background-position: -5px -3065px;
}

.flair-South-Park-17 {
    width: 80px;
    height: 80px;
    background-position: -5px -3155px;
}

.flair-South-Park-18 {
    width: 80px;
    height: 80px;
    background-position: -5px -3245px;
}

.flair-South-Park-19 {
    width: 80px;
    height: 80px;
    background-position: -5px -3335px;
}

.flair-South-Park-20 {
    width: 80px;
    height: 80px;
    background-position: -5px -3425px;
}

.flair-South-Park-21 {
    width: 80px;
    height: 80px;
    background-position: -5px -3515px;
}

.flair-South-Park-22 {
    width: 80px;
    height: 80px;
    background-position: -5px -3605px;
}

.flair-South-Park-23 {
    width: 80px;
    height: 80px;
    background-position: -5px -3695px;
}

.flair-South-Park-24 {
    width: 80px;
    height: 80px;
    background-position: -5px -3785px;
}

.flair-South-Park-25 {
    width: 80px;
    height: 80px;
    background-position: -5px -3875px;
}

.flair-South-Park-26 {
    width: 80px;
    height: 80px;
    background-position: -5px -3965px;
}

.flair-South-Park-27 {
    width: 80px;
    height: 80px;
    background-position: -5px -4055px;
}

.flair-South-Park-28 {
    width: 80px;
    height: 80px;
    background-position: -5px -4145px;
}

.flair-South-Park-29 {
    width: 80px;
    height: 80px;
    background-position: -5px -4235px;
}

.flair-South-Park-30 {
    width: 80px;
    height: 80px;
    background-position: -5px -4325px;
}

.flair-South-Park-31 {
    width: 80px;
    height: 80px;
    background-position: -5px -4415px;
}

.flair-South-Park-32 {
    width: 80px;
    height: 80px;
    background-position: -5px -4505px;
}

.flair-South-Park-33 {
    width: 80px;
    height: 80px;
    background-position: -5px -4595px;
}

.flair-South-Park-34 {
    width: 80px;
    height: 80px;
    background-position: -5px -4685px;
}

.flair-South-Park-35 {
    width: 80px;
    height: 80px;
    background-position: -5px -4775px;
}

.flair-South-Park-36 {
    width: 80px;
    height: 80px;
    background-position: -5px -4865px;
}

.flair-South-Park-37 {
    width: 80px;
    height: 80px;
    background-position: -5px -4955px;
}

.flair-South-Park-38 {
    width: 80px;
    height: 80px;
    background-position: -5px -5045px;
}

.flair-South-Park-39 {
    width: 80px;
    height: 80px;
    background-position: -5px -5135px;
}

.flair-South-Park-40 {
    width: 80px;
    height: 80px;
    background-position: -5px -5225px;
}

.flair-south-01 {
    width: 80px;
    height: 80px;
    background-position: -5px -5315px;
}

.flair-south-02 {
    width: 80px;
    height: 80px;
    background-position: -5px -5405px;
}

.flair-south-03 {
    width: 80px;
    height: 80px;
    background-position: -5px -5495px;
}

.flair-south-04 {
    width: 80px;
    height: 80px;
    background-position: -5px -5585px;
}

.flair-south-05 {
    width: 80px;
    height: 80px;
    background-position: -5px -5675px;
}

.flair-south-06 {
    width: 80px;
    height: 80px;
    background-position: -5px -5765px;
}

.flair-south-07 {
    width: 80px;
    height: 80px;
    background-position: -5px -5855px;
}

.flair-south-08 {
    width: 80px;
    height: 80px;
    background-position: -5px -5945px;
}

.flair-south-09 {
    width: 80px;
    height: 80px;
    background-position: -5px -6035px;
}

.flair-south-10 {
    width: 80px;
    height: 80px;
    background-position: -5px -6125px;
}

.flair-south-11 {
    width: 80px;
    height: 80px;
    background-position: -5px -6215px;
}

.flair-south-12 {
    width: 80px;
    height: 80px;
    background-position: -5px -6305px;
}

.flair-south-13 {
    width: 80px;
    height: 80px;
    background-position: -5px -6395px;
}

.flair-south-14 {
    width: 80px;
    height: 80px;
    background-position: -5px -6485px;
}

.flair-south-15 {
    width: 80px;
    height: 80px;
    background-position: -5px -6575px;
}

.flair-south-16 {
    width: 80px;
    height: 80px;
    background-position: -5px -6665px;
}

.flair-south-17 {
    width: 80px;
    height: 80px;
    background-position: -5px -6755px;
}

.flair-south-18 {
    width: 80px;
    height: 80px;
    background-position: -5px -6845px;
}

.flair-south-19 {
    width: 80px;
    height: 80px;
    background-position: -5px -6935px;
}

.flair-south-20 {
    width: 80px;
    height: 80px;
    background-position: -5px -7025px;
}

.flair-south-21 {
    width: 80px;
    height: 80px;
    background-position: -5px -7115px;
}

.flair-south-22 {
    width: 80px;
    height: 80px;
    background-position: -5px -7205px;
}

.flair-south-23 {
    width: 80px;
    height: 80px;
    background-position: -5px -7295px;
}

.flair-south-24 {
    width: 80px;
    height: 80px;
    background-position: -5px -7385px;
}

.flair-south-25 {
    width: 80px;
    height: 80px;
    background-position: -5px -7475px;
}

.flair-south-26 {
    width: 80px;
    height: 80px;
    background-position: -5px -7565px;
}

.flair-south-27 {
    width: 80px;
    height: 80px;
    background-position: -5px -7655px;
}

.flair-south-28 {
    width: 80px;
    height: 80px;
    background-position: -5px -7745px;
}

.flair-south-29 {
    width: 80px;
    height: 80px;
    background-position: -5px -7835px;
}

.flair-south-30 {
    width: 80px;
    height: 80px;
    background-position: -5px -7925px;
}

.flair-south-31 {
    width: 80px;
    height: 80px;
    background-position: -5px -8015px;
}

.flair-south-32 {
    width: 80px;
    height: 80px;
    background-position: -5px -8105px;
}

.flair-south-33 {
    width: 80px;
    height: 80px;
    background-position: -5px -8195px;
}

.flair-south-37 {
    width: 80px;
    height: 80px;
    background-position: -5px -8285px;
}

.flair-south-40 {
    width: 80px;
    height: 80px;
    background-position: -5px -8375px;
}

.flair-south-42 {
    width: 80px;
    height: 80px;
    background-position: -5px -8465px;
}

.flair-south-43 {
    width: 80px;
    height: 80px;
    background-position: -5px -8555px;
}

.flair-south-46 {
    width: 80px;
    height: 80px;
    background-position: -5px -8645px;
}

.flair-south-47 {
    width: 80px;
    height: 80px;
    background-position: -5px -8735px;
}

.flair-south-48 {
    width: 80px;
    height: 80px;
    background-position: -5px -8825px;
}

.flair-south-53 {
    width: 80px;
    height: 80px;
    background-position: -5px -8915px;
}
